<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <div class="container">
            <form onSubmit="event.preventDefault(); image.new();" autocomplete="off">
                <input placeholder="At your command..." id="imageText" type="text" />
                <img src="/img/spinner-t.gif" alt="" class="spinner"/>
            </form>
            <div class="image-container"></div>
        </div>
    </body>
</html>